<p style="color: green"><%= notice %></p>

<%= render @student %>
<%= @student.address %>

<%= cl_image_tag @student.photo.key, alt: "AI generates Image of #{@student.name}" if @student.photo.attached? %>

<!-- This worked in the controller -->
<%#= @emoji %>

<div>
  <%= link_to "Edit this student", edit_student_path(@student) %> |
  <%= link_to "Back to students", students_path %>

  <%= button_to "Destroy this student", @student, method: :delete %>
</div>
